Repository magicball-network/discourse-kofi: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, yaml-syntax

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

Basic payment message processing
  app/controllers/discourse_kofi/webhook_controller.rb
  app/models/discourse_kofi/account.rb
  app/models/discourse_kofi/payment.rb
  db/migrate/20250519200313_create_discourse_kofi_payments.rb
  spec/fabricators/account_fabricator.rb
  spec/fabricators/payment_fabricator.rb
  spec/models/payment_spec.rb
Due: rubocop, syntax_tree

Basic payment message processing
  app/controllers/discourse_kofi/webhook_controller.rb
  app/models/discourse_kofi/account.rb
  app/models/discourse_kofi/payment.rb
  spec/models/payment_spec.rb
Due: rubocop, syntax_tree

Added lefthook gem
  Gemfile
  Gemfile.lock
Due: none

updated ruby-lsp*
  Gemfile
  Gemfile.lock
Due: none

Changes payment_type enum to string persistence
  app/models/discourse_kofi/account.rb
  app/models/discourse_kofi/payment.rb
  db/migrate/20250519200313_create_discourse_kofi_payments.rb
Due: rubocop, syntax_tree

rspec script to make executing tests easier
  bin/rspec
Due: none

Updated ruby-lsp and ruby-lsp-rspec
  Gemfile.lock
Due: none

Added reward model
  app/models/discourse_kofi/payment.rb
  app/models/discourse_kofi/reward.rb
  db/migrate/20250519200313_create_discourse_kofi_payments.rb
  db/migrate/20250608121229_create_discourse_kofi_rewards.rb
  spec/fabricators/reward_fabricator.rb
  spec/models/payment_spec.rb
  spec/models/reward_spec.rb
Due: rubocop, syntax_tree

Fixed badge/group validation in reward
  app/models/discourse_kofi/reward.rb
  spec/fabricators/reward_fabricator.rb
  spec/models/reward_spec.rb
Due: rubocop, syntax_tree

Added user totals aggregation
  app/models/discourse_kofi/payment.rb
  spec/fabricators/payment_fabricator.rb
  spec/models/payment_spec.rb
Due: rubocop, syntax_tree

Basic reward processing
  app/services/discourse_kofi/account_management.rb
  app/services/discourse_kofi/payment_processor.rb
  spec/services/payment_processor_spec.rb
Due: rubocop, syntax_tree

Added "public" payment controller
  app/controllers/discourse_kofi/admin/payments_controller.rb
  app/controllers/discourse_kofi/admin/rewards_controller.rb
  app/controllers/discourse_kofi/payments_controller.rb
  app/serializers/discourse_kofi/admin_payment_serializer.rb
  app/serializers/discourse_kofi/payment_serializer.rb
  app/serializers/discourse_kofi/reward_serializer.rb
  app/serializers/discourse_kofi/user_payment_serializer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  config/settings.yml
  spec/fabricators/payment_fabricator.rb
  spec/models/payment_spec.rb
  spec/models/reward_spec.rb
  spec/requests/payments_controller_spec.rb
  spec/services/payment_processor_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

Implemented serializer tests and payment controllers
  app/controllers/discourse_kofi/payments_controller.rb
  app/controllers/discourse_kofi/users/payments_controller.rb
  app/models/discourse_kofi/payment.rb
  app/serializers/discourse_kofi/payment_serializer.rb
  app/serializers/discourse_kofi/user_payment_serializer.rb
  config/routes.rb
  spec/requests/payments_controller_spec.rb
  spec/requests/users/payments_controller_spec.rb
  spec/serializers/admin_payment_serializer_spec.rb
  spec/serializers/payment_serializer_spec.rb
  spec/serializers/user_payment_serializer_spec.rb
Due: rubocop, syntax_tree

Added reward serializers
  app/controllers/discourse_kofi/admin/rewards_controller.rb
  app/serializers/discourse_kofi/base_reward_serializer.rb
  app/serializers/discourse_kofi/reward_serializer.rb
  app/serializers/discourse_kofi/subscription_reward_serializer.rb
  spec/fabricators/reward_fabricator.rb
  spec/serializers/reward_serializer_spec.rb
  spec/serializers/subscription_reward_serializer_spec.rb
Due: rubocop, syntax_tree

added tests for admin payment controller
  app/controllers/discourse_kofi/admin/payments_controller.rb
  spec/requests/admin/payments_controller_spec.rb
Due: rubocop, syntax_tree

added basic controller authz tests
  spec/requests/admin/authz_spec.rb
  spec/requests/users/authz_spec.rb
Due: rubocop, syntax_tree

implemented the reward admin controller
  app/controllers/discourse_kofi/admin/rewards_controller.rb
  app/models/discourse_kofi/reward.rb
  app/serializers/discourse_kofi/base_reward_serializer.rb
  spec/requests/admin/rewards_controller_spec.rb
  spec/serializers/reward_serializer_spec.rb
  spec/serializers/subscription_reward_serializer_spec.rb
Due: rubocop, syntax_tree

model tuning
  app/models/discourse_kofi/account.rb
  app/models/discourse_kofi/payment.rb
  app/models/discourse_kofi/reward.rb
  app/serializers/discourse_kofi/base_reward_serializer.rb
  app/services/discourse_kofi/payment_processor.rb
  db/migrate/20250519200313_create_discourse_kofi_payments.rb
  db/migrate/20250608121229_create_discourse_kofi_rewards.rb
  spec/fabricators/reward_fabricator.rb
  spec/serializers/reward_serializer_spec.rb
  spec/serializers/subscription_reward_serializer_spec.rb
  spec/services/payment_processor_spec.rb
Due: rubocop, syntax_tree

moved test data to file fixture
  app/controllers/discourse_kofi/webhook_controller.rb
  spec/fixtures/files/webhook.json
  spec/models/payment_spec.rb
  spec/plugin_helper.rb
Due: rubocop, syntax_tree

added user account controller
  app/controllers/discourse_kofi/users/accounts_controller.rb
  app/controllers/discourse_kofi/users/payments_controller.rb
  app/serializers/discourse_kofi/account_serializer.rb
  app/services/discourse_kofi/payment_processor.rb
  config/routes.rb
  spec/requests/users/accounts_controller_spec.rb
  spec/requests/users/authz_spec.rb
  spec/serializers/account_serializer_spec.rb
Due: rubocop, syntax_tree

Implemented payment claim controller
  app/controllers/discourse_kofi/users/payments_controller.rb
  app/services/discourse_kofi/payment_processor.rb
  spec/requests/users/payments_controller_spec.rb
  spec/services/payment_processor_spec.rb
Due: rubocop, syntax_tree

default format to json
  app/controllers/discourse_kofi/admin/accounts_controller.rb
  config/routes.rb
  spec/requests/admin/authz_spec.rb
  spec/requests/admin/payments_controller_spec.rb
  spec/requests/admin/rewards_controller_spec.rb
  spec/requests/payments_controller_spec.rb
  spec/requests/users/accounts_controller_spec.rb
  spec/requests/users/authz_spec.rb
Due: rubocop, syntax_tree

Start on payment/account anonymization
  app/models/discourse_kofi/account.rb
  app/models/discourse_kofi/payment.rb
  app/serializers/discourse_kofi/admin_account_serializer.rb
  app/serializers/discourse_kofi/admin_payment_serializer.rb
  app/services/discourse_kofi/account_management.rb
  app/services/discourse_kofi/anonymizer.rb
  app/services/discourse_kofi/payment_processor.rb
  db/migrate/20250630190031_account_email_hash.rb
  plugin.rb
Due: rubocop, syntax_tree

anonymization model improvements
  app/models/discourse_kofi/account.rb
  app/models/discourse_kofi/payment.rb
  app/services/discourse_kofi/account_management.rb
  app/services/discourse_kofi/payment_processor.rb
  spec/models/payment_spec.rb
  spec/services/payment_processor_spec.rb
Due: rubocop, syntax_tree

expanded rspec launcher to correct coverage report
  bin/rspec
Due: none

completed account management and extended tests
  app/models/discourse_kofi/reward.rb
  app/services/discourse_kofi/account_management.rb
  app/services/discourse_kofi/payment_processor.rb
  spec/models/account_spec.rb
  spec/models/reward_spec.rb
  spec/services/account_management_spec.rb
Due: rubocop, syntax_tree

Improved rspec script to patch ruby-lsp for coverage
  bin/rspec
Due: none

payment csv import service
  app/models/discourse_kofi/payment.rb
  app/services/discourse_kofi/payment_importer.rb
  config/locales/server.en.yml
  spec/fabricators/payment_fabricator.rb
  spec/fixtures/files/import.csv
  spec/fixtures/files/import_invalid_entries.csv
  spec/fixtures/files/webhook.json
  spec/models/payment_spec.rb
  spec/services/payment_importer_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

Improving test coverage
  app/models/discourse_kofi/payment.rb
  app/services/discourse_kofi/payment_importer.rb
  spec/fixtures/files/import_invalid_entries.csv
  spec/models/payment_spec.rb
  spec/services/payment_processor_spec.rb
Due: rubocop, syntax_tree

Localized user facing messages
  app/models/discourse_kofi/payment.rb
  app/models/discourse_kofi/reward.rb
  config/locales/server.en.yml
Due: rubocop, syntax_tree, yaml-syntax

payment resolve job
  app/jobs/module.rb
  app/jobs/regular/resolve_payment.rb
  app/services/discourse_kofi/payment_importer.rb
  plugin.rb
Due: rubocop, syntax_tree

Implemented payment import controller
  app/controllers/discourse_kofi/admin/accounts_controller.rb
  app/controllers/discourse_kofi/admin/payments_controller.rb
  app/models/discourse_kofi/payment.rb
  app/services/discourse_kofi/payment_processor.rb
  config/locales/server.en.yml
  config/routes.rb
  spec/fixtures/files/import.csv
  spec/fixtures/files/invalid.csv
  spec/requests/admin/authz_spec.rb
  spec/requests/admin/payments_controller_spec.rb
  spec/services/payment_importer_spec.rb
  spec/services/payment_processor_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

Use symbol based job scheduling
  app/jobs/module.rb
  app/jobs/register.rb
  app/jobs/regular/kofi_resolve_payment.rb
  app/services/discourse_kofi/payment_importer.rb
  plugin.rb
Due: rubocop, syntax_tree

zeitwerk fixes
  app/jobs/register.rb
  app/jobs/regular/kofi_resolve_payment.rb
  plugin.rb
Due: rubocop, syntax_tree

Fixed job loading
  app/jobs/discourse_kofi/regular/resolve_payment.rb
  app/services/discourse_kofi/payment_importer.rb
  plugin.rb
Due: rubocop, syntax_tree

initial admin account controller implementation
  .gitignore
  app/controllers/discourse_kofi/admin/accounts_controller.rb
  app/controllers/discourse_kofi/users/accounts_controller.rb
  app/serializers/discourse_kofi/account_serializer.rb
  config/routes.rb
  spec/requests/admin/accounts_controller_spec.rb
  spec/requests/admin/authz_spec.rb
  spec/serializers/admin_account_serializer_spec.rb
Due: rubocop, syntax_tree

payment anonymize admin api
  app/controllers/discourse_kofi/admin/accounts_controller.rb
  app/controllers/discourse_kofi/admin/payments_controller.rb
  app/jobs/discourse_kofi/regular/anonymize_payments.rb
  app/models/discourse_kofi/payment.rb
  app/services/discourse_kofi/anonymizer.rb
  config/routes.rb
  spec/requests/admin/accounts_controller_spec.rb
  spec/requests/admin/authz_spec.rb
  spec/requests/admin/payments_controller_spec.rb
Due: rubocop, syntax_tree

added in-development notice
  README.md
Due: none

Job tests
  app/jobs/discourse_kofi/regular/anonymize_payments.rb
  app/jobs/discourse_kofi/regular/resolve_payment.rb
  spec/jobs/anonymize_payments_spec.rb
  spec/jobs/resolve_payment_spec.rb
Due: rubocop, syntax_tree

Renamed fabricators to prevent collision
  app/controllers/discourse_kofi/admin/payments_controller.rb
  config/routes.rb
  spec/fabricators/account_fabricator.rb
  spec/fabricators/payment_fabricator.rb
  spec/fabricators/reward_fabricator.rb
  spec/jobs/anonymize_payments_spec.rb
  spec/jobs/resolve_payment_spec.rb
  spec/models/account_spec.rb
  spec/models/payment_spec.rb
  spec/requests/admin/accounts_controller_spec.rb
  spec/requests/admin/authz_spec.rb
  spec/requests/admin/payments_controller_spec.rb
  spec/requests/admin/rewards_controller_spec.rb
  spec/requests/payments_controller_spec.rb
  spec/requests/users/accounts_controller_spec.rb
  spec/requests/users/authz_spec.rb
  spec/requests/users/payments_controller_spec.rb
  spec/serializers/account_serializer_spec.rb
  spec/serializers/admin_account_serializer_spec.rb
  spec/serializers/admin_payment_serializer_spec.rb
  spec/serializers/payment_serializer_spec.rb
  spec/serializers/reward_serializer_spec.rb
  spec/serializers/subscription_reward_serializer_spec.rb
  spec/serializers/user_payment_serializer_spec.rb
  spec/services/account_management_spec.rb
  spec/services/payment_importer_spec.rb
  spec/services/payment_processor_spec.rb
Due: rubocop, syntax_tree

Path conditions:
  rubocop: any of: *.rb
  syntax_tree: any of: *.rb
  yaml-syntax: any of: *.yml
