Repository magicball-network/discourse-kofi: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, yaml-syntax

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.rb"
      run: bundle exec stree check {staged_files}
    #prettier:
    #  glob: "*.js"
    #  include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
    #  run: pnpm prettier --list-different {staged_files}
    #prettier-scss:
    #  glob: "*.scss"
    #  include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
    #  run: pnpm prettier --list-different {staged_files}
    #eslint:
    #  glob: "*.js"
    #  include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
    #  run: pnpm eslint --quiet {staged_files}
    #ember-template-lint:
    #  glob: "*.hbs"
    #  include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
    #  run: pnpm ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.yml"
      run: bundle exec yaml-lint {staged_files}

fix-staged:
  parallel: false
  commands:
    prettier:
      glob: "*.js"
      include: "assets/javascripts"
      run: pnpm prettier --write {staged_files}
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    syntax_tree:
      glob: "*.rb"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {all_files}
    #prettier:
    #  run: pnpm prettier --list-different **/*.js
    #prettier-scss:
    #  run: pnpm prettier --list-different **/*.scss
    #eslint:
    #  run: pnpm eslint -f compact --quiet --ext .js .
    #ember-template-lint:
    #  run: pnpm ember-template-lint .
    syntax_tree:
      glob: "*.rb"
      run: bundle exec stree check {all_files}
    yaml-syntax:
      glob: "*.yml"
      run: bundle exec yaml-lint {all_files}

Serialize user as object instead of id
  app/controllers/discourse_kofi/webhook_controller.rb
  app/serializers/discourse_kofi/payment_serializer.rb
  spec/requests/payments_controller_spec.rb
  spec/serializers/admin_payment_serializer_spec.rb
  spec/serializers/payment_serializer_spec.rb
  spec/serializers/user_payment_serializer_spec.rb
Due: rubocop, syntax_tree

added payment query builder
  app/controllers/discourse_kofi/admin/payments_controller.rb
  app/services/discourse_kofi/payment_query_builder.rb
  spec/services/payment_query_builder_spec.rb
Due: rubocop, syntax_tree

require tmpdir
  bin/rspec
Due: none

corrected query builder test to be strict
  spec/services/payment_query_builder_spec.rb
Due: rubocop, syntax_tree

gemfile trickery for ruby-lsp
  Gemfile
  Gemfile.lock
Due: none

rspec script tuning
  bin/rspec
Due: none

use rspec from submodule
  .gitmodules
  bin/rspec
Due: none

rescue from ActiveRecord::RecordNotFound
  app/controllers/discourse_kofi/admin/accounts_controller.rb
  app/controllers/discourse_kofi/admin/payments_controller.rb
  app/controllers/discourse_kofi/admin/rewards_controller.rb
Due: rubocop, syntax_tree

intial FE routing and admin payments UI
  admin/assets/javascripts/admin/controllers/admin-plugins-show-discourse-kofi-payments.js
  admin/assets/javascripts/admin/models/admin-payment.js
  admin/assets/javascripts/discourse/initializers/kofi-admin-plugin-configuration-nav.js
  admin/assets/javascripts/discourse/routes/admin-plugins-show-discourse-kofi-payments.js
  admin/assets/javascripts/discourse/templates/admin-plugins/show/discourse-kofi-payments.gjs
  assets/javascripts/discourse/discourse-kofi-route-map.js
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  lefthook.yml
  package.json
  plugin.rb
  pnpm-lock.yaml
Due: rubocop, syntax_tree, yaml-syntax

Separate gemfile for development
  Gemfile
  Gemfile-dev
  Gemfile-dev.lock
  Gemfile.lock
Due: none

build pipeline fixes
  .discourse-compatibility
  Gemfile
  Gemfile.lock
  admin/assets/javascripts/discourse/templates/admin-plugins/show/discourse-kofi-payments.gjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: yaml-syntax

gemfile tuning
  Gemfile
  Gemfile-dev
  Gemfile-dev.lock
  Gemfile.lock
Due: none

Removed unused code
  admin/assets/javascripts/admin/controllers/admin-plugins-show-discourse-kofi-payments.js
Due: none

reorganizing JS code
  admin/assets/javascripts/admin/controllers/admin-plugins/show/discourse-kofi-payments.js
  admin/assets/javascripts/admin/discourse-kofi-admin-route-map.js
  admin/assets/javascripts/admin/initializers/kofi-admin-plugin-configuration-nav.js
  admin/assets/javascripts/admin/routes/admin-plugins/show/discourse-kofi-payments.js
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-payments.gjs
Due: none

reward management UI
  admin/assets/javascripts/admin/controllers/admin-plugins/show/discourse-kofi-rewards/edit.js
  admin/assets/javascripts/admin/controllers/admin-plugins/show/discourse-kofi-rewards/index.js
  admin/assets/javascripts/admin/discourse-kofi-admin-route-map.js
  admin/assets/javascripts/admin/models/admin-reward.js
  admin/assets/javascripts/admin/routes/admin-plugins/show/discourse-kofi-rewards/edit.js
  admin/assets/javascripts/admin/routes/admin-plugins/show/discourse-kofi-rewards/index.js
  admin/assets/javascripts/admin/routes/admin-plugins/show/discourse-kofi-rewards/new-subscription.js
  admin/assets/javascripts/admin/routes/admin-plugins/show/discourse-kofi-rewards/new.js
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-rewards/edit.gjs
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-rewards/index.gjs
  app/serializers/discourse_kofi/base_reward_serializer.rb
  app/serializers/discourse_kofi/id_name_serializer.rb
  config/locales/client.en.yml
  config/settings.yml
Due: rubocop, syntax_tree, yaml-syntax

lefthook config tweak
  lefthook.yml
Due: yaml-syntax

added reward reprocessing
  app/controllers/discourse_kofi/admin/rewards_controller.rb
  app/jobs/discourse_kofi/regular/reward_user.rb
  app/services/discourse_kofi/reward_processor.rb
  config/routes.rb
  spec/jobs/anonymize_payments_spec.rb
  spec/requests/admin/rewards_controller_spec.rb
  spec/services/reward_processor_spec.rb
Due: rubocop, syntax_tree

Added subscription model
  app/models/discourse_kofi/subscription.rb
  db/migrate/20250809080324_create_discourse_kofi_subscriptions.rb
  spec/fabricators/payment_fabricator.rb
  spec/models/subscription_spec.rb
Due: rubocop, syntax_tree

Fixed reward user job
  app/jobs/discourse_kofi/regular/reward_user.rb
  spec/jobs/reward_user_spec.rb
Due: rubocop, syntax_tree

limit rewarding to a single reward
  app/jobs/discourse_kofi/regular/reward_user.rb
  app/services/discourse_kofi/payment_processor.rb
  app/services/discourse_kofi/reward_processor.rb
  config/locales/client.en.yml
  spec/services/payment_processor_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

subscription is unique for (user, reward)
  app/models/discourse_kofi/subscription.rb
  db/migrate/20250809080324_create_discourse_kofi_subscriptions.rb
Due: rubocop, syntax_tree

Implemented status page
  admin/assets/javascripts/admin/discourse-kofi-admin-route-map.js
  admin/assets/javascripts/admin/initializers/kofi-admin-plugin-configuration-nav.js
  admin/assets/javascripts/admin/routes/admin-plugins/show/discourse-kofi-status.js
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-status.gjs
  app/controllers/discourse_kofi/admin/status_controller.rb
  app/controllers/discourse_kofi/webhook_controller.rb
  app/services/discourse_kofi/webhook_status.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  spec/requests/admin/authz_spec.rb
  spec/requests/admin/status_controller_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

Fixed and improved some tests
  app/controllers/discourse_kofi/admin/rewards_controller.rb
  app/services/discourse_kofi/anonymizer.rb
  spec/jobs/reward_user_spec.rb
  spec/requests/admin/payments_controller_spec.rb
  spec/services/reward_processor_spec.rb
Due: rubocop, syntax_tree

initial work on admin account page
  admin/assets/javascripts/admin/controllers/admin-plugins/show/discourse-kofi-accounts.js
  admin/assets/javascripts/admin/controllers/admin-plugins/show/discourse-kofi-payments.js
  admin/assets/javascripts/admin/models/admin-account.js
  admin/assets/javascripts/admin/routes/admin-plugins/show/discourse-kofi-accounts.js
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-accounts.gjs
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-payments.gjs
  app/controllers/discourse_kofi/admin/accounts_controller.rb
  app/models/discourse_kofi/account.rb
  app/serializers/discourse_kofi/account_serializer.rb
  app/services/discourse_kofi/account_query_builder.rb
  app/services/discourse_kofi/anonymizer.rb
  app/services/discourse_kofi/payment_query_builder.rb
  config/locales/client.en.yml
  config/routes.rb
  spec/requests/admin/accounts_controller_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

fixed anonymizer
  app/models/discourse_kofi/account.rb
  app/services/discourse_kofi/anonymizer.rb
  spec/serializers/account_serializer_spec.rb
  spec/services/anonymizer_spec.rb
Due: rubocop, syntax_tree

added test for account query builder
  app/services/discourse_kofi/account_query_builder.rb
  app/services/discourse_kofi/payment_query_builder.rb
Due: rubocop, syntax_tree

fixed latest account payment
  app/models/discourse_kofi/account.rb
Due: rubocop, syntax_tree

account query builder tests
  spec/services/account_query_builder_spec.rb
  spec/services/payment_query_builder_spec.rb
Due: rubocop, syntax_tree

corrected payment deeplink
  admin/assets/javascripts/admin/controllers/admin-plugins/show/discourse-kofi-payments.js
  admin/assets/javascripts/admin/routes/admin-plugins/show/discourse-kofi-payments.js
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-accounts.gjs
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-payments.gjs
Due: none

deeplinking between account and payment pages
  admin/assets/javascripts/admin/controllers/admin-plugins/show/discourse-kofi-accounts.js
  admin/assets/javascripts/admin/routes/admin-plugins/show/discourse-kofi-accounts.js
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-accounts.gjs
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-payments.gjs
  app/serializers/discourse_kofi/user_payment_serializer.rb
  app/services/discourse_kofi/account_query_builder.rb
  app/services/discourse_kofi/payment_query_builder.rb
  config/locales/client.en.yml
  plugin.rb
  spec/services/account_query_builder_spec.rb
  spec/services/payment_query_builder_spec.rb
  svg-icons/kofi.svg
Due: rubocop, syntax_tree, yaml-syntax

add email obscuring component
  admin/assets/javascripts/admin/components/obscured-email-address.gjs
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-accounts.gjs
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-payments.gjs
Due: none

table layout improvements
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-accounts.gjs
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-payments.gjs
Due: none

icon tuning
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-payments.gjs
  config/locales/client.en.yml
  plugin.rb
  svg-icons/kofi-color.svg
  svg-icons/kofi.svg
Due: rubocop, syntax_tree, yaml-syntax

test against both stable and tests-passed
  .github/workflows/stable.yml
  .github/workflows/tests-passed.yml
Due: yaml-syntax

added build status badge
  README.md
Due: none

various admin account action fixes
  admin/assets/javascripts/admin/controllers/admin-plugins/show/discourse-kofi-accounts.js
  admin/assets/javascripts/admin/models/admin-account.js
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-accounts.gjs
  app/controllers/discourse_kofi/admin/accounts_controller.rb
  app/services/discourse_kofi/account_management.rb
  config/routes.rb
Due: rubocop, syntax_tree

staff action logging
  app/controllers/discourse_kofi/admin/accounts_controller.rb
  app/controllers/discourse_kofi/admin/payments_controller.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  plugin.rb
Due: rubocop, syntax_tree, yaml-syntax

account controller tests
  app/controllers/discourse_kofi/admin/accounts_controller.rb
  spec/requests/admin/accounts_controller_spec.rb
Due: rubocop, syntax_tree

corrected payment import staff notice
  app/controllers/discourse_kofi/admin/payments_controller.rb
  spec/requests/admin/payments_controller_spec.rb
Due: rubocop, syntax_tree

Add notification about account link
  app/services/discourse_kofi/account_management.rb
  assets/javascripts/discourse/initializers/kofi-initializer.js
  assets/javascripts/discourse/notifications/account-link-notification.js
  config/locales/client.en.yml
  plugin.rb
  spec/services/account_management_spec.rb
Due: rubocop, syntax_tree, yaml-syntax
