Repository magicball-network/discourse-kofi: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.rb"
      run: bundle exec stree check {staged_files}
    prettier:
      glob: "*.{js,gjs}"
      run: pnpm prettier --list-different {staged_files}
    #prettier-scss:
    #  glob: "*.scss"
    #  include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
    #  run: pnpm prettier --list-different {staged_files}
    eslint:
      glob: "*.{js,gjs}"
      run: pnpm eslint --quiet {staged_files}
    ember-template-lint:
      glob: "*.{js,gjs}"
      run: pnpm ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby ../../script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    prettier:
      glob: "*.{js,gjs}"
      run: pnpm prettier --write {staged_files}
    eslint:
      glob: "*.{js,gjs}"
      run: pnpm eslint --fix {staged_files}
    ember-template-lint:
      glob: "*.{js,gjs}"
      run: pnpm ember-template-lint --fix {staged_files}
    syntax_tree:
      glob: "*.rb"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {all_files}
    prettier:
      glob: "*.{js,gjs}"
      run: pnpm prettier --list-different {all_files}
    #prettier-scss:
    #  run: pnpm prettier --list-different **/*.scss
    eslint:
      glob: "*.{js,gjs}"
      run: pnpm eslint {all_files}
    ember-template-lint:
      glob: "*.{js,gjs}"
      run: pnpm ember-template-lint {all_files}
    syntax_tree:
      glob: "*.rb"
      run: bundle exec stree check {all_files}
    yaml-syntax:
      glob: "*.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby ../../script/i18n_lint.rb {all_files}

New translations server.en.yml (Chinese Traditional)
  config/locales/server.zh.yml
Due: yaml-syntax

New translations server.en.yml (Vietnamese)
  config/locales/server.vi.yml
Due: yaml-syntax

Update crowdin.yml
  crowdin.yml
Due: yaml-syntax

Ensure tier name is different in test
  README.md
  spec/services/reward_processor_spec.rb
Due: rubocop, syntax_tree

Corrected Ko-fi capitalization
  config/locales/client.en.yml
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

Improved seeding
  app/jobs/discourse_kofi/regular/seed_config.rb
  app/jobs/discourse_kofi/scheduled/leader_board.rb
  lib/discourse_kofi/seed.rb
  plugin.rb
Due: rubocop, syntax_tree

Dashboard styling improvement
  assets/stylesheets/common/main.scss
Due: none

locales tweaks
  config/locales/client.en.yml
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

Typo fix
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

Typo fixes
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

Updated gems
  Gemfile.lock
Due: none

New translations client.en.yml (Dutch) [ci skip]
  config/locales/client.nl.yml
Due: yaml-syntax

New translations server.en.yml (Dutch) [ci skip]
  config/locales/server.nl.yml
Due: yaml-syntax

Dutch translation
  config/locales/client.nl.yml
  config/locales/server.nl.yml
Due: yaml-syntax

Removed settings for unimplemented features
  config/locales/server.en.yml
  config/locales/server.nl.yml
  config/settings.yml
  plugin.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

Default new reward to donation and sub
  admin/assets/javascripts/admin/routes/admin-plugins/show/discourse-kofi-rewards/new.js
Due: prettier, eslint, ember-template-lint

nicer formatting of reward payment types
  admin/assets/javascripts/admin/models/admin-reward.js
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-rewards/index.gjs
Due: prettier, eslint, ember-template-lint

Various code quality improvements
  admin/assets/javascripts/admin/controllers/admin-plugins/show/discourse-kofi-accounts.js
  admin/assets/javascripts/admin/controllers/admin-plugins/show/discourse-kofi-payments.js
  admin/assets/javascripts/admin/models/admin-reward.js
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-status.gjs
  app/models/discourse_kofi/payment.rb
  app/models/discourse_kofi/reward.rb
  app/serializers/discourse_kofi/basic_badge_serializer.rb
  app/services/discourse_kofi/payment_stats.rb
  assets/javascripts/discourse/controllers/user/ko-fi/accounts.js
  assets/javascripts/discourse/controllers/user/ko-fi/payments.js
  config/locales/client.en.yml
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

Monthly donations do not have a tier name
  app/models/discourse_kofi/payment.rb
  spec/fixtures/files/webhook-sub-notier.json
  spec/fixtures/files/webhook-sub.json
  spec/models/payment_spec.rb
Due: rubocop, syntax_tree

Added comment for empty tier
  spec/models/payment_spec.rb
Due: rubocop, syntax_tree

Added meta topic id
  README.md
  plugin.rb
Due: rubocop, syntax_tree

Update README.md
  README.md
Due: none

Enable weekly compatibility checks
  .github/workflows/upstream-change.yml
Due: yaml-syntax

New translations client.en.yml (Dutch)
  config/locales/client.nl.yml
Due: yaml-syntax

Update upstream-change.yml
  .github/workflows/upstream-change.yml
Due: yaml-syntax

Do not access DB during boot
  app/controllers/discourse_kofi/admin/accounts_controller.rb
  app/controllers/discourse_kofi/admin/rewards_controller.rb
Due: rubocop, syntax_tree

Dependency updates
  Gemfile-dev.lock
Due: none
