Repository magicball-network/discourse-kofi: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.rb"
      run: bundle exec stree check {staged_files}
    prettier:
      glob: "*.{js,gjs}"
      run: pnpm prettier --list-different {staged_files}
    #prettier-scss:
    #  glob: "*.scss"
    #  include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
    #  run: pnpm prettier --list-different {staged_files}
    eslint:
      glob: "*.{js,gjs}"
      run: pnpm eslint --quiet {staged_files}
    ember-template-lint:
      glob: "*.{js,gjs}"
      run: pnpm ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby ../../script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    prettier:
      glob: "*.{js,gjs}"
      run: pnpm prettier --write {staged_files}
    eslint:
      glob: "*.{js,gjs}"
      run: pnpm eslint --fix {staged_files}
    ember-template-lint:
      glob: "*.{js,gjs}"
      run: pnpm ember-template-lint --fix {staged_files}
    syntax_tree:
      glob: "*.rb"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {all_files}
    prettier:
      glob: "*.{js,gjs}"
      run: pnpm prettier --list-different {all_files}
    #prettier-scss:
    #  run: pnpm prettier --list-different **/*.scss
    eslint:
      glob: "*.{js,gjs}"
      run: pnpm eslint {all_files}
    ember-template-lint:
      glob: "*.{js,gjs}"
      run: pnpm ember-template-lint {all_files}
    syntax_tree:
      glob: "*.rb"
      run: bundle exec stree check {all_files}
    yaml-syntax:
      glob: "*.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby ../../script/i18n_lint.rb {all_files}

implemented import UI
  admin/assets/javascripts/admin/controllers/admin-plugins/show/discourse-kofi-import.js
  admin/assets/javascripts/admin/routes/admin-plugins/show/discourse-kofi-import.js
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-import.gjs
  app/controllers/discourse_kofi/payments_controller.rb
  app/services/discourse_kofi/payment_importer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/settings.yml
  plugin.rb
  spec/fixtures/files/import.csv
  spec/fixtures/files/import_invalid_entries.csv
  spec/requests/payments_controller_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

Use ko-fi icon for healthy status
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-status.gjs
Due: prettier, eslint, ember-template-lint

Anonymizing UI
  admin/assets/javascripts/admin/controllers/admin-plugins/show/discourse-kofi-anonymize.js
  admin/assets/javascripts/admin/routes/admin-plugins/show/discourse-kofi-anonymize.js
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-anonymize.gjs
  app/controllers/discourse_kofi/admin/payments_controller.rb
  app/services/discourse_kofi/anonymizer.rb
  config/locales/client.en.yml
  spec/services/anonymizer_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

user controller improvements
  app/controllers/discourse_kofi/admin/accounts_controller.rb
  app/controllers/discourse_kofi/admin/payments_controller.rb
  app/controllers/discourse_kofi/users/accounts_controller.rb
  app/controllers/discourse_kofi/users/payments_controller.rb
  config/routes.rb
  spec/requests/admin/authz_spec.rb
  spec/requests/users/accounts_controller_spec.rb
  spec/requests/users/authz_spec.rb
Due: rubocop, syntax_tree

basic user UI
  assets/javascripts/discourse/connectors/user-main-nav/kofi-user-menu.gjs
  assets/javascripts/discourse/discourse-kofi-user-route-map.js
  assets/javascripts/discourse/routes/user-ko-fi-accounts.js
  assets/javascripts/discourse/routes/user-ko-fi-claim.js
  assets/javascripts/discourse/routes/user-ko-fi-index.js
  assets/javascripts/discourse/routes/user-ko-fi-payments.js
  assets/javascripts/discourse/templates/user/ko-fi.gjs
  assets/javascripts/discourse/templates/user/ko-fi/accounts.gjs
  assets/javascripts/discourse/templates/user/ko-fi/claim.gjs
  assets/javascripts/discourse/templates/user/ko-fi/index.gjs
  assets/javascripts/discourse/templates/user/ko-fi/payments.gjs
  config/locales/client.en.yml
  config/routes.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

initial user payment and account ui
  assets/javascripts/discourse/controllers/user/ko-fi/accounts.js
  assets/javascripts/discourse/controllers/user/ko-fi/payments.js
  assets/javascripts/discourse/models/user-account.js
  assets/javascripts/discourse/models/user-payment.js
  assets/javascripts/discourse/routes/user-ko-fi-accounts.js
  assets/javascripts/discourse/routes/user-ko-fi-payments.js
  assets/javascripts/discourse/templates/user/ko-fi/accounts.gjs
  assets/javascripts/discourse/templates/user/ko-fi/payments.gjs
Due: prettier, eslint, ember-template-lint

Styling
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-accounts.gjs
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-anonymize.gjs
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-import.gjs
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-payments.gjs
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-rewards/index.gjs
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-status.gjs
  assets/javascripts/discourse/templates/user/ko-fi/accounts.gjs
  assets/javascripts/discourse/templates/user/ko-fi/payments.gjs
  assets/stylesheets/common/admin.scss
  assets/stylesheets/common/main.scss
  plugin.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

fixed status refresh action
  admin/assets/javascripts/admin/routes/admin-plugins/show/discourse-kofi-status.js
Due: prettier, eslint, ember-template-lint

updated lockfiles
  Gemfile-dev.lock
  Gemfile.lock
Due: none

Added clear search input button
  admin/assets/javascripts/admin/controllers/admin-plugins/show/discourse-kofi-accounts.js
  admin/assets/javascripts/admin/controllers/admin-plugins/show/discourse-kofi-payments.js
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-accounts.gjs
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-payments.gjs
  assets/javascripts/discourse/controllers/user/ko-fi/accounts.js
  assets/javascripts/discourse/controllers/user/ko-fi/payments.js
  assets/javascripts/discourse/templates/user/ko-fi/accounts.gjs
  assets/javascripts/discourse/templates/user/ko-fi/payments.gjs
  assets/stylesheets/common/admin.scss
  assets/stylesheets/common/main.scss
  config/locales/client.en.yml
  plugin.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

transaction claim ui
  admin/assets/javascripts/admin/controllers/admin-plugins/show/discourse-kofi-accounts.js
  assets/javascripts/discourse/controllers/user/ko-fi/claim.js
  assets/javascripts/discourse/templates/user/ko-fi/claim.gjs
  config/locales/client.en.yml
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

page titles
  assets/javascripts/discourse/routes/user-ko-fi-accounts.js
  assets/javascripts/discourse/routes/user-ko-fi-claim.js
  assets/javascripts/discourse/routes/user-ko-fi-payments.js
Due: prettier, eslint, ember-template-lint

dashboard ui placeholder
  assets/javascripts/discourse/discourse-kofi-route-map.js
  assets/javascripts/discourse/initializers/kofi-initializer.js
  assets/javascripts/discourse/misc/dashboard-link.js
  assets/javascripts/discourse/routes/ko-fi.js
  assets/javascripts/discourse/templates/ko-fi.gjs
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  config/settings.yml
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

converted account page to d-table for mobile view
  assets/javascripts/discourse/connectors/user-main-nav/kofi-user-menu.gjs
  assets/javascripts/discourse/templates/user/ko-fi/accounts.gjs
Due: prettier, eslint, ember-template-lint

mobile friendly user menu
  assets/javascripts/discourse/controllers/user/ko-fi/payments.js
  assets/javascripts/discourse/templates/user/ko-fi/accounts.gjs
  assets/javascripts/discourse/templates/user/ko-fi/payments.gjs
  assets/stylesheets/common/main.scss
  config/locales/client.en.yml
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

account deeplink fix
  assets/javascripts/discourse/notifications/account-link-notification.js
Due: prettier, eslint, ember-template-lint

Added information on user account page
  assets/javascripts/discourse/templates/user/ko-fi/accounts.gjs
  config/locales/client.en.yml
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

corrected rack version in lockfile
  Gemfile.lock
Due: none

added some reports
  lib/discourse_kofi/reports.rb
  plugin.rb
Due: rubocop, syntax_tree

subscription reward processing
  app/models/discourse_kofi/subscription.rb
  app/services/discourse_kofi/payment_processor.rb
  spec/services/payment_processor_spec.rb
Due: rubocop, syntax_tree

test-passed replaced by latest
  .github/workflows/latest.yml
Due: yaml-syntax

test passed replaced by latest
  README.md
Due: none

Name fix
  .github/workflows/latest.yml
Due: yaml-syntax

remove changed group subscriptions
  app/services/discourse_kofi/payment_processor.rb
  spec/services/payment_processor_spec.rb
Due: rubocop, syntax_tree

Added subscription expiration handling
  app/jobs/discourse_kofi/scheduled/subscription_expiration.rb
  app/models/discourse_kofi/subscription.rb
  app/services/discourse_kofi/payment_processor.rb
  app/services/discourse_kofi/reward_processor.rb
  app/services/discourse_kofi/subscription_processor.rb
  assets/javascripts/discourse/initializers/kofi-initializer.js
  assets/javascripts/discourse/notifications/subscription-activated-notification.js
  assets/javascripts/discourse/notifications/subscription-expired-notification.js
  assets/javascripts/discourse/notifications/subscription-joined-group-notification.js
  assets/javascripts/discourse/notifications/subscription-left-group-notification.js
  config/locales/client.en.yml
  config/locales/server.en.yml
  plugin.rb
  spec/jobs/subscription_expiration_spec.rb
  spec/models/subscription_spec.rb
  spec/services/payment_processor_spec.rb
  spec/services/subscription_processor_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

Fix handling of invalid payments received via the webhook
  app/controllers/discourse_kofi/webhook_controller.rb
  app/models/discourse_kofi/payment.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  spec/requests/webhook_controller_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

Don't process payments which result in expired subscriptions
  app/models/discourse_kofi/subscription.rb
  app/services/discourse_kofi/payment_processor.rb
  config/locales/client.en.yml
  spec/services/payment_processor_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

Handle subscription reprocessing and deletion
  app/controllers/discourse_kofi/admin/rewards_controller.rb
  app/services/discourse_kofi/reward_processor.rb
  app/services/discourse_kofi/subscription_processor.rb
  config/locales/client.en.yml
  spec/requests/admin/rewards_controller_spec.rb
  spec/services/subscription_processor_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

Remove expire subscriptions after 2 weeks
  app/jobs/discourse_kofi/scheduled/subscription_cleanup.rb
Due: rubocop, syntax_tree

Add sub cleanup job
  plugin.rb
Due: rubocop, syntax_tree

Removed unused stats contributor
  plugin.rb
Due: rubocop, syntax_tree

Added problem checks
  config/locales/server.en.yml
  lib/discourse_kofi/problem_check/config.rb
  lib/discourse_kofi/problem_check/webhook.rb
  plugin.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

Handle user, group, and badge deletion
  app/controllers/discourse_kofi/admin/accounts_controller.rb
  app/models/discourse_kofi/account.rb
  app/models/discourse_kofi/payment.rb
  app/models/discourse_kofi/reward.rb
  app/models/discourse_kofi/subscription.rb
  app/services/discourse_kofi/payment_processor.rb
  spec/models/account_spec.rb
  spec/models/payment_spec.rb
  spec/models/reward_spec.rb
  spec/models/subscription_spec.rb
Due: rubocop, syntax_tree

delete subs when expiration was handled
  app/jobs/discourse_kofi/scheduled/subscription_cleanup.rb
  app/services/discourse_kofi/subscription_processor.rb
  plugin.rb
  spec/services/subscription_processor_spec.rb
Due: rubocop, syntax_tree

badge and group links in reward admin UI
  admin/assets/javascripts/admin/templates/admin-plugins/show/discourse-kofi-rewards/index.gjs
  app/serializers/discourse_kofi/admin_payment_serializer.rb
  app/serializers/discourse_kofi/base_reward_serializer.rb
  app/serializers/discourse_kofi/basic_badge_serializer.rb
  app/serializers/discourse_kofi/basic_group_serializer.rb
  app/serializers/discourse_kofi/id_name_serializer.rb
  app/serializers/discourse_kofi/payment_serializer.rb
  app/serializers/discourse_kofi/reward_serializer.rb
  app/serializers/discourse_kofi/subscription_reward_serializer.rb
  app/serializers/discourse_kofi/user_payment_serializer.rb
  assets/stylesheets/common/admin.scss
  spec/serializers/reward_serializer_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

calculate leaderboard stats
  app/services/discourse_kofi/payment_stats.rb
  config/settings.yml
  spec/services/payment_stats_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

added goal stat calculation
  app/controllers/discourse_kofi/payments_controller.rb
  app/services/discourse_kofi/payment_stats.rb
  config/locales/server.en.yml
  config/settings.yml
  spec/services/payment_stats_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

don't check in rspec symlink
  .gitignore
  bin/rspec
Due: none

Test subscription reward reprocessing
  spec/services/reward_processor_spec.rb
Due: rubocop, syntax_tree

setup for scheduled builds
  .github/workflows/esr.yml
  .github/workflows/latest.yml
  .github/workflows/upstream-change.yml
  README.md
Due: yaml-syntax
