Repository magicball-network/discourse-kofi: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.rb"
      run: bundle exec stree check {staged_files}
    prettier:
      glob: "*.{js,gjs}"
      run: pnpm prettier --list-different {staged_files}
    #prettier-scss:
    #  glob: "*.scss"
    #  include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
    #  run: pnpm prettier --list-different {staged_files}
    eslint:
      glob: "*.{js,gjs}"
      run: pnpm eslint --quiet {staged_files}
    ember-template-lint:
      glob: "*.{js,gjs}"
      run: pnpm ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby ../../script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    prettier:
      glob: "*.{js,gjs}"
      run: pnpm prettier --write {staged_files}
    eslint:
      glob: "*.{js,gjs}"
      run: pnpm eslint --fix {staged_files}
    ember-template-lint:
      glob: "*.{js,gjs}"
      run: pnpm ember-template-lint --fix {staged_files}
    syntax_tree:
      glob: "*.rb"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {all_files}
    prettier:
      glob: "*.{js,gjs}"
      run: pnpm prettier --list-different {all_files}
    #prettier-scss:
    #  run: pnpm prettier --list-different **/*.scss
    eslint:
      glob: "*.{js,gjs}"
      run: pnpm eslint {all_files}
    ember-template-lint:
      glob: "*.{js,gjs}"
      run: pnpm ember-template-lint {all_files}
    syntax_tree:
      glob: "*.rb"
      run: bundle exec stree check {all_files}
    yaml-syntax:
      glob: "*.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby ../../script/i18n_lint.rb {all_files}

Update upstream-change.yml
  .github/workflows/upstream-change.yml
Due: yaml-syntax

Updated Gemfile locks
  Gemfile-dev.lock
  Gemfile.lock
Due: none

Typo fix
  README.md
Due: none

Added notices to group/badge about reward coupling
  admin/assets/javascripts/admin/connectors/admin-above-badge-buttons/badge-reward-usage.gjs
  admin/assets/javascripts/admin/connectors/group-details-after/group-reward-usage.gjs
  app/controllers/discourse_kofi/admin/rewards_controller.rb
  config/locales/client.en.yml
  config/routes.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

Removed admin-above-badge-buttons workaround
  admin/assets/javascripts/admin/connectors/admin-above-badge-buttons/badge-reward-usage.gjs
Due: prettier, eslint, ember-template-lint

corrected leaderboard query + progress bar integration
  .discourse-compatibility
  app/services/discourse_kofi/payment_stats.rb
  config/locales/server.en.yml
  config/settings.yml
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

update progress bar settings test
  app/services/discourse_kofi/payment_stats.rb
  spec/services/payment_stats_spec.rb
Due: rubocop, syntax_tree

Stats calculation and dashboard controller
  app/controllers/discourse_kofi/dashboard_controller.rb
  app/jobs/discourse_kofi/scheduled/leader_board.rb
  plugin.rb
Due: rubocop, syntax_tree

dashboard is either enabled or disabled
  app/controllers/discourse_kofi/dashboard_controller.rb
  app/services/discourse_kofi/payment_stats.rb
  assets/javascripts/discourse/misc/dashboard-link.js
  config/locales/server.en.yml
  config/settings.yml
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

Fix tests for changed settings
  app/controllers/discourse_kofi/payments_controller.rb
  app/services/discourse_kofi/payment_stats.rb
  assets/javascripts/discourse/discourse-kofi-route-map.js
  config/settings.yml
  spec/requests/payments_controller_spec.rb
  spec/services/payment_stats_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax

Added dashboard controller
  app/controllers/discourse_kofi/dashboard_controller.rb
  app/controllers/discourse_kofi/payments_controller.rb
  config/routes.rb
  spec/requests/dashboard_controller_spec.rb
  spec/requests/payments_controller_spec.rb
Due: rubocop, syntax_tree

leaderboard anonymous is based on account
  app/models/discourse_kofi/payment.rb
  app/services/discourse_kofi/payment_stats.rb
  spec/services/payment_stats_spec.rb
Due: rubocop, syntax_tree

Added rate limiting to payment claims
  app/controllers/discourse_kofi/users/payments_controller.rb
  assets/javascripts/discourse/controllers/user/ko-fi/claim.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

Create dashboard message
  lib/discourse_kofi/seed.rb
  plugin.rb
Due: rubocop, syntax_tree

Publish dashboard work
  assets/javascripts/discourse/routes/ko-fi.js
  assets/javascripts/discourse/templates/ko-fi.gjs
  assets/stylesheets/common/main.scss
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  config/settings.yml
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

Leaderboard styling
  assets/javascripts/discourse/templates/ko-fi.gjs
  assets/stylesheets/common/main.scss
Due: prettier, eslint, ember-template-lint

linting fixes
  assets/stylesheets/common/main.scss
  eslint.config.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: yaml-syntax

Seed async via a job
  app/jobs/discourse_kofi/regular/seed_config.rb
  config/settings.yml
  plugin.rb
Due: rubocop, syntax_tree, yaml-syntax

Circle progress for goal
  assets/javascripts/discourse/templates/ko-fi.gjs
  assets/stylesheets/common/main.scss
  config/locales/client.en.yml
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

Fix linting
  assets/javascripts/discourse/templates/ko-fi.gjs
  assets/stylesheets/common/main.scss
  lefthook.yml
Due: prettier, eslint, ember-template-lint, yaml-syntax

goal progress layout tweaks
  assets/javascripts/discourse/templates/ko-fi.gjs
  assets/stylesheets/common/main.scss
Due: prettier, eslint, ember-template-lint

Added recent payments to dashboard
  app/controllers/discourse_kofi/payments_controller.rb
  assets/javascripts/discourse/routes/ko-fi.js
  assets/javascripts/discourse/templates/ko-fi.gjs
  assets/stylesheets/common/main.scss
  config/locales/client.en.yml
  config/settings.yml
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

Slight dashboard styling tweak
  assets/stylesheets/common/main.scss
Due: none

Update Crowdin configuration file
  crowdin.yml
Due: yaml-syntax

New translations client.en.yml (Romanian)
  config/locales/client.ro.yml
Due: yaml-syntax

New translations client.en.yml (French)
  config/locales/client.fr.yml
Due: yaml-syntax

New translations client.en.yml (Spanish)
  config/locales/client.es.yml
Due: yaml-syntax

New translations client.en.yml (Afrikaans)
  config/locales/client.af.yml
Due: yaml-syntax

New translations client.en.yml (Arabic)
  config/locales/client.ar.yml
Due: yaml-syntax

New translations client.en.yml (Catalan)
  config/locales/client.ca.yml
Due: yaml-syntax

New translations client.en.yml (Czech)
  config/locales/client.cs.yml
Due: yaml-syntax

New translations client.en.yml (Danish)
  config/locales/client.da.yml
Due: yaml-syntax

New translations client.en.yml (German)
  config/locales/client.de.yml
Due: yaml-syntax

New translations client.en.yml (Greek)
  config/locales/client.el.yml
Due: yaml-syntax

New translations client.en.yml (Finnish)
  config/locales/client.fi.yml
Due: yaml-syntax

New translations client.en.yml (Hebrew)
  config/locales/client.he.yml
Due: yaml-syntax

New translations client.en.yml (Hungarian)
  config/locales/client.hu.yml
Due: yaml-syntax

New translations client.en.yml (Italian)
  config/locales/client.it.yml
Due: yaml-syntax
